@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

:root {
  --skyblue: rgb(218, 238, 243);
  --borderblue: rgb(39, 173, 217);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  padding-top: 100px;
  top: 0;
}

main {
  animation: fadeIn 0.5s linear;
}

.header__title {
  font-size: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-link {
  margin: 0px 100px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid var(--borderblue);
  border-radius: 25px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  background-color: var(--skyblue);
}

.content:hover {
  transform: scale(125%);
}

.content__icon {
  font-size: 150px;
  margin-bottom: 20px;
}

.content__title {
  font-weight: 800;
  font-size: 50px;
}

.top {
  padding-top: 5px;
}

.none {
  display: none;
}

.introduce {
  overflow-y: scroll;
  width: 80%;
  height: 70%;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
